// colors
$color_a: #fff;
$color_b: #6e6e6e;
$color_c: #ccc;
$color_d: #1e90ff;

// backgorunds
$background_a: #1e90ff;
$background_b: #ffff;

// hovers
$hover_a: #1e8fff96;

// borders
$border_a: #cccccc;

// shadows
$shadow_a: #00000026;
$shadow_b: #b9b9b9;