// box_spinner: container for the spinner loading
.box_spinner {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff98;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        position: absolute;
        border: 0;
        margin: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        animation: spinner 2s ease infinite;

        &:first-child {
            background-color: #3498db;
            box-shadow: 0 0 0 10px #3498db27;
            animation-delay: -1.5s;
        };

        &:nth-child(2) {
            background-color: #2ecc71;
            box-shadow: 0 0 0 10px #2ecc7032;
            animation-delay: -1s;
        };
        
        &:nth-child(3) {
            background-color: #9b59b6;
            box-shadow: 0 0 0 10px #9c59b62a;
            animation-delay: -0.5s;
        };

        &:last-child {
            background-color: #e74c3c;
            box-shadow: 0 0 0 10px #e74d3c2a;
        };

        @keyframes spinner {
            0%, 100% {
                transform: translate(0);
            };
            25% {
                transform: translate(180%);
            };
            50% {
                transform: translate(180%, 180%);
            };
            75% {
                transform: translate(0, 180%);
            };
        };
    };
}