<div class="box_files">
    <form>
        <div class="box_input">
            <label for="image">
                <mat-icon>photo_camera</mat-icon>
            </label>
            <input type="file" id="image">

            <label for="video">
                <mat-icon>videocam</mat-icon>
            </label>
            <input type="file" id="video">
        </div>

        <div class="box_input">
            <input type="text" name="post" placeholder="Motivo de la publicacion">
        </div>

        <div class="box_btn">
            <button>Publicar</button>
        </div>
    </form>
</div>

<div class="box_posts">
    <section class="box_data">
        <h4>nitname</h4>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, quisquam!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, quisquam!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, quisquam!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, quisquam!
        </p>
        <img src="assets/img/img2.jpg" alt="img">
    </section>

    <div class="box_media">
        <div class="icon_one">
            <mat-icon>favorite_border</mat-icon>
            <mat-icon> chat_bubble_outline</mat-icon>
            <mat-icon>redo</mat-icon>
        </div>
        <div class="icon_two">
            <mat-icon> more_vert </mat-icon>
        </div>
    </div>
</div>



<!-- <mat-icon> remove_red_eye </mat-icon> -->
<!-- <mat-icon>reply_right</mat-icon> -->