<!-- box_flex: container to implement flexbox -->
<div class="box_flex">

    <!-- box_form: container for form (#1) -->
    <div class="box_form">
        <form [formGroup]="formChangePass" autocomplete="off" novalidate (ngSubmit)="confirmChangePassword($event)">

            <!-- show async validations -->
            <div class="box_error" *ngIf="asyncValidation">
                Email y/o contraseña incorrectas !
            </div>

            <h3>Cambiar contraseña</h3> <!-- form title -->

            <!-- box_input: container for inputs (#1) -->
            <div class="box_input">
                <input type="email" name="email" placeholder="Ingrese su correo" formControlName="email" />
            </div>

            <!-- (#2) -->
            <div class="box_input">
                <input type="password" name="password" placeholder="Antigua constraseña" formControlName="password"
                    [type]="showPass ? 'string' : 'password'" />

                <mat-icon (click)="showPass = !showPass" *ngIf="errorPass.value.length > 2">
                    {{ showPass ? 'visibility_off' : 'visibility' }}
                </mat-icon>
            </div>

            <div class="box_input">
                <input type="password" name="newPassword" placeholder="Nueva Constraseña" formControlName="newPassword"
                    [type]="showNewPass ? 'string' : 'password'" />

                <mat-icon (click)="showNewPass = !showNewPass" *ngIf="errorNewPass.value.length > 2">
                    {{ showNewPass ? 'visibility_off' : 'visibility' }}
                </mat-icon>
            </div>

            <div class="box_input">
                <input type="password" name="confirmPassword" placeholder="Confirmar contraseña"
                    formControlName="confirmPassword" [type]="showConfirmPass ? 'string' : 'password'" />

                <mat-icon (click)="showConfirmPass = !showConfirmPass" *ngIf="errorConfirmPass.value.length > 2">
                    {{ showConfirmPass ? 'visibility_off' : 'visibility' }}
                </mat-icon>
            </div>

            <!-- box_btn: container for buttons -->
            <div class="box_btn">
                <button type="submit">Confirmar</button>
            </div>

            <div class="box_account">
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>

            <!-- redirect link to signup -->
            <h2>Para volver al inicio <a [routerLink]="['/pages']">Ingresa aqui</a></h2>
        </form>
    </div>
</div>